<article class="article-main">
  <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div fxFlex="1 1 20" fxFlexOffset="15px">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Total Questions</mat-card-title>
          <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
          <span fxFlex="0 0 auto" style="font-size: 80px;">
            10
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="1 1 20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Total Users</mat-card-title>
          <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
          <span fxFlex="0 0 auto" style="font-size: 80px;">
            3000
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</article>
